<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TV Tracker App - Next Episode</title>
    <!-- <link rel='stylesheet' href='/client/styles/reset.css'> -->
    <link rel='stylesheet' href='/client/styles/style.css'>
    <link rel='icon' href='/client/img/tv-favicon.png'>
  </head>
