<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Next Episode</title>
    <link rel='stylesheet' type='text/css' href='./client/styles/reset.css'>
    <link rel='stylesheet' type='text/css' href='./client/styles/style.css'>
  </head>
