<nav>
  <h3>TV TRACKER<h3>
  <a href="/">HOME</a>
  <a href="/shows">SHOWS</a>
  <a href="/favorites">FAVORITES</a>
  <form method="GET" action="/login">
    <button name="login" class="login-btn btn">Login</button>
  </form>
  <form method="GET" action="/signup">
    <button name="login" class="login-btn btn">Sign Up</button>
  </form>
</nav>
