<nav>
  <h3>NEXT EPISODE<h3>
  <a href="/">HOME</a>
  <a href="/shows">SHOWS</a>
  <a href="/favorites">FAVORITES</a>

  <!-- Search bar -->
  <form method="GET" action="">
    <input class="search-bar" type="text" placeholder="Search a show!"/>
    <button class="submit" type="submit">Search</button>
  </form>

  <!-- Login button -->
  <form method="GET" action="/login">
    <button name="login" class="login-btn btn">Login</button>
  </form>

  <!-- Signup button -->
  <form method="GET" action="/signup">
    <button name="login" class="login-btn btn">Sign Up</button>
  </form>
</nav>
