<nav>
  <img class="tv-icon" src="/client/img/tv-icon.png">
  <h1>NEXT EPISODE</h1>

  <div class=nav-items>
    <a href="/"><h2>HOME</h2></a>
    <a href="/shows"><h2>SHOWS</h2></a>
    <a class="favorites-nav" href="/favorites"><h2>FAVORITES</h2></a>

    <!-- Search bar -->
    <form method="POST" action="/results">
      <input name="userSearch" class="search-bar" type="text" placeholder="Search for a show!"/>
      <button class="search-btn" type="submit">
        Search
      </button>
    </form>

    <!-- Login button -->
    <form method="GET" action="/login">
      <button name="login" class="login-btn">Login</button>
    </form>
  </div>
</nav>
