<nav>
  <h3>TV TRACKER<h3>
  <a href="/">HOME</a>
  <a href="/shows">SHOWS</a>
  <a href="/favorites">FAVORITES</a>

  <!-- Login button -->
  <form method="GET" action="/login">
    <button name="login" class="login-btn">Login</button>
  </form>

  <!-- Signup button -->
  <form method="GET" action="/signup">
    <button name="signup" class="signup-btn">Sign Up</button>
  </form>

  <!-- Search bar -->
  <form method="GET" action="/show/<%=  %>">
    <input name="search" class="search-bar" type="text" placeholder="Search a show!"/>
    <button class="search-btn" type="submit" onclick="getShowId()">Search</button>
  </form>
</nav>
