@import url('https://fonts.googleapis.com/css?family=Rajdhani:500,600,700');

/* General */
body, html {
  font-family: 'Rajdhani', 'Helvetica', sans-serif;
  color: #e5e5e5;
  background-color: #323232;
  height: 100%;
  padding: 30px 50px;
}

a {
  color: #e5e5e5;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

button {
  font-family: 'Rajdhani', 'Helvetica', sans-serif;
  font-size: 13px;
  color: #323232;
  background-color: #e5e5e5;
  border-radius: 7px;
}

button:hover{
  cursor: pointer;
  opacity: 0.9;
}

.buttons {
  display: flex;
}

.buttons button {
  margin: 5px;
}

.page-btn {
  margin-bottom: 60px;
  text-align: center;
}

input {
  font-family: 'Rajdhani', 'Helvetica', sans-serif;
  font-size: 12px;
  border-radius: 2px;
}


/* Nav */
.tv-icon {
  width: 45px;
  display: inline;
}

h1 {
  display: inline;
  margin: 10px 10px 25px 10px;
  font-size: 35px;
}

nav a {
  margin-right: 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites-nav {
  flex-grow: 1;
}

.nav-items h2 {
  margin: 20px 20px 25px 0;
}

.nav-items button, input {
  margin-left: 5px;
}

.signup-btn {
  margin-right: 10px;
}


/* Show content */
.container {
  border-top: 2px dotted #e5e5e5;
}

.container h2,
.container h3,
.seasons-title {
  margin-top: 50px;
}

.favorites h2 {
  margin-bottom: 50px;
}

.popular-shows,
.top-shows,
.today-shows,
.all-shows {
  margin: 0 auto;
  margin: 0 50px 50px 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 420px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}

.seasons {
  margin: 0 auto;
  margin: 0 50px 50px 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 350px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}

.favorite-shows {
  margin: 0 auto;
  margin: 0 50px 50px 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 320px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}

.show h3, p {
  margin: 5px;
}

.show img {
  margin: 0 5px;
}

.show img:hover, .season img:hover {
  transform: scale(1.1, 1.1);
  transition: .3s transform;
}

.container .no-img {
  width: 185px;
}

.episode {
  margin: 50px;
}

.favorites input {
  margin-bottom: 5px;
  width: 90%;
}


/* Back to top button */
.top-button {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  position: fixed;
	bottom: 20px;
	right: 20px;
  color: #323232;
  background-color: #e5e5e5;
  border-radius: 7px;
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  margin: inherit;
  text-decoration: none;
}

.top-button:hover {
  text-decoration: none;
  opacity: 0.9;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body, html {
    padding: 10px 20px;
  }

  .popular-shows,
  .top-shows,
  .today-shows,
  .all-shows,
  .favorite-shows {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 420px;
    grid-gap: 25px;
  }

  .seasons {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 390px;
    grid-gap: 25px;
  }

  .episode {
    margin: 20px;
  }
}


/* Large mobile */
@media (min-width: 425px) and (max-width: 768px) {
  body, html {
    padding: 10px 20px;
  }

  .popular-shows,
  .top-shows,
  .today-shows,
  .all-shows,
  .favorite-shows {
    grid-template-columns: 200px 200px;
    grid-template-rows: 420px;
    grid-gap: 25px 10px;
  }

  .seasons {
    grid-template-columns: 200px 200px;
    grid-template-rows: 390px;
    grid-gap: 25px 10px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items h2 {
    margin: 10px 0;
  }

  nav a {
    margin: 1px;
  }

  .favorites-nav {
    flex-grow: 0;
  }

  .episode {
    margin: 20px;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 425px) {
  body, html {
    padding: 10px 10px;
  }

  .popular-shows,
  .top-shows,
  .today-shows,
  .all-shows,
  .favorite-shows {
    grid-template-columns: 200px;
    grid-template-rows: 420px;
    grid-gap: 25px 0px;
  }

  .seasons {
    grid-template-columns: 200px;
    grid-template-rows: 390px;
    grid-gap: 25px 0px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items h2 {
    margin: 10px 0;
  }

  nav a {
    margin: 1px;
  }

  .favorites-nav {
    flex-grow: 0;
  }

  .episode {
    margin: 10px;
  }
}
