<% include ../partials/header %>
  <body>
    <% include ../partials/nav %>

    <% if (message) { %>
      <h3><%= message %></h3>
    <% } %>

    <div class="top-rated">
      <h1>Most Popular:</h1>
    </div>

    <div class="top-rated">
      <h1>Top Rated:</h1>
    </div>
    
    <div class="current">
      <h1>Aired Today:</h1>
    </div>

  </body>
</html>
