<% include ../partials/header %>
  <body>
    <% include ../partials/nav %>

    <% if (message) { %>
      <h3><%= message %></h3>
    <% } %>

    <div class="top-rated">
      <h1>Most Popular:</h1>

      <button class="previous-btn">Previous Page</button>
      <button class="next-btn">Next Page</button>
    </div>

    <div class="top-rated">
      <h1>Top Rated:</h1>

      <button class="previous-btn">Previous Page</button>
      <button class="next-btn">Next Page</button>
    </div>

    <div class="current">
      <h1>Airing Today:</h1>

      <button class="previous-btn">Previous Page</button>
      <button class="next-btn">Next Page</button>
    </div>

  </body>
</html>
