<% include ../partials/header %>
  <body>
    <% include ../partials/nav %>
    <form method="GET" action="/login">
      <button name="login" class="login-btn btn">Login</button>
    </form>
  </body>
</html>
