<% include ../partials/header %>
  <body>
    <a id="top-button"></a>
    <% include ../partials/nav %>


    <div class="container results">
      <% if (message) { %>
        <h3><%= message %></h3>
      <% } %>



    </div>

    <a class="top-button" href=#top-button>&#8593;</a>
  </body>
</html>
