<% include ../partials/header %>
  <body>
    <% include ../partials/nav %>

    <div class="container signup">
      <% if (message) { %>
        <h3><%= message %></h3>
      <% } %>

      <h3>Create a new account:</h3>
      <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm password">
        <input class="signup-btn" type="submit" value="Sign Up">
      </form>

      <h4>
        Already have an account? <a href="/login">Log in!</a>
      </h4>
    </div>
  </body>
</html>
