<% include ../../partials/header %>
  <body>
    <% include ../../partials/nav %>

    <% if (message) { %>
      <h3><%= message %></h3>
    <% } %>

    <form method="GET" action="/login">
      <button name="login" class="login-btn btn">Login</button>
    </form>

    <h1>Favorites</h1>

  <body>
</html>
