<% include ../../partials/header %>
  <body>
    <% include ../../partials/nav %>

    <% if (message) { %>
      <h3><%= message %></h3>
    <% } %>

    <h1>Favorites</h1>
    <!-- For each favorite, display info -->
    <% for (let i = 0; i < favoritesData[i].length; i++) { %>
      <!-- Show title -->
      <h2><%= favoritesData[i].show_title %></h2>
      <!-- If there's a show poster, display poster -->
      <% if (favoritesData[i].show_img) { %>
        <img src="http://image.tmdb.org/t/p/w185<%= favoritesData[i].show_img %>">
      <% } %>
      <!-- Remove from favorites button -->
      <!-- Doesn't work yet -->
      <form action="/favorites?_method=DELETE" method="POST">
        <input type="hidden" name="showId" value="<%= currentData.results[i].id %>">
        <button class="remove-btn">
          Remove from Favorites
        </button>
      </form>
    <% } %>

  <body>
</html>
